<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block pate_title %}{% endblock %}</title>

        <!-- css -->
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock content %}
        </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>